language: android
android:
  components:
    - tools
    - platform-tools

    - build-tools-25.0.1
    - android-25
    - extra-google-m2repository
    - extra-android-m2repository
  licenses:
      - 'android-sdk-license-.+'
      - 'google-gdk-license-.+'
sudo: false
install: true
addons:
  sonarqube:
    token:
      secure: "eb92d50e7db7c548ff985228822ab59bc0fd4e90"
jdk:
  - oraclejdk8
script:
  - ./gradlew sonarqube
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
    - '$HOME/.gradle'
    - '.gradle'